name: taptest_runtime
description: "Runtime package for TapTest framework. It exposes a thin layer to interoperate TapTest within your app."
version: 1.0.0
homepage: https://taptest.dev
repository: https://github.com/chris-rutkowski/taptest_runtime

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints:
  flutter_test:
    sdk: flutter

flutter:
